<form class="{{moduleName}}-form">
    <p>
        For more information on how to use this section, please refer to the 
        <a href="https://github.com/bmarian/token-tooltip-alt/blob/master/README.md">README</a>
    </p>

    <div class="{{moduleName}}-container form-group">
        <div class="form-group">
            <h2>GM</h2>
        </div>
        <div class="form-group">
            <h2>Player</h2>
        </div>
    </div>

</form>