<form class="{{moduleName}}-form">
    <p>
        For more information on how to use this section, please refer to the 
        <a href="https://github.com/bmarian/token-tooltip-alt/blob/master/README.md">README</a>
    </p>
    <div class="form-group">

    </div>
</form>