.#{$module-name}-tooltip-container {
  &.default {
    background: url("../../ui/parchment.jpg") repeat;

    & .#{$module-name}-tooltip-content {

      & .#{$module-name}-tooltip-item {
        &.title {
          border-bottom: 1px solid;
          & span {
            color: black;
          }
        }

        & span {
          color: black;
        }
      }
    }

    &.dark {
      background: rgba(0, 0, 0, 0.8) none;

      & .#{$module-name}-tooltip-content {

        & .#{$module-name}-tooltip-item {
          &.title {
            & span {
              color: white;
            }
          }

          & span {
            color: white;
          }
        }
      }
    }
  }
}