.#{$module-name}-tooltip-editor-window {
  & .window-content {
    @supports not (-moz-appearance:none) {
      overflow-y: hidden;
    }
  }
}

.#{$module-name}-form {
  height: 100%;

  & .#{$module-name}-container {
    &.gm,
    &.player {
      overflow-x: hidden;
      @supports not (-moz-appearance:none) {
        overflow-y: auto;
        height: 100%;
      }
    }

    &.gm {
      padding-right: 5px;
    }

    &.player {
      padding-left: 5px;
      padding-right: 3px;
    }

    &.form-group {
      align-items: normal;
      height: calc(100% - 40px);
    }
  }

  & .#{$module-name}-table {
    & thead {
      & tr {
        text-align: center;
      }

      // Just making things smaller to leve space for the value field
      & .#{$module-name}-col_icon {
        width: 100px;
      }

      & .#{$module-name}-col_expression,
      & .#{$module-name}-col_isNumber {
        width: 30px;
      }

      & .#{$module-name}-col_delete,
      & .#{$module-name}-col_color {
        width: 50px;
      }
    }

    & tbody {
      & .#{$module-name}-row_expression,
      & .#{$module-name}-row_isNumber,
      & .#{$module-name}-row_sort {
        text-align: center;
      }

      & .#{$module-name}-sort-handler {
        & i {
          cursor: grab;
        }
      }
    }
  }

  & input[type="color"] {
    width: 50px;
  }

  & .#{$module-name}-button {
    &.copy,
    &.paste {
      flex: 0.5;
    }
  }
}